/**.App {
  text-align: center;
  margin: 50px;
  font: 14px sans-serif;
}**/

.ib {
  display: inline-block;
}

/**.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}**/


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: white;
 }

.App-header h1 {
  display: inline-flex;
  align-items: center;
  font-size: calc(10px + 5vmin);
  padding-left: 10vw;
  
}

.App-link {
  color: #61dafb;
}

.Choice-actions ul {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  list-style: none;
}

.Choice-actions a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}

.topmenu {
  backface-visibility: hidden;
  background: rgba(255,255,255,.8);
}

.topmenu > li {
  position: relative;
  width: 50%;
  max-width: 20vw;
  padding: 0 2rem;
  margin: 1rem 0.5rem;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5px;
  color: #fff;
  background-color: #6383a8;
  outline: 0;
  border: none;
  border-radius: 2px;
  transition: .2s ease-out;
  cursor: pointer;
}

.topmenu > li:hover {background-color: #6d8cb0}

.topmenu > li > a {
  font-family:  sans-serif;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
  color: #003559;
  text-transform: uppercase;
}


.topmenu li a:hover { color: #E6855F; }

.down .submenu {
  flex-direction: column;
  width: 98.6%;
  background: #dce1ff;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}

.topmenu > .down:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}


.submenu li a {
  color: #7f7f7f;
  font-size: 14px;
  line-height: 36px;
  font-family:  serif;
  border-bottom: 1px solid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
