.Choice-actions {
  display: flex;
  justify-content:space-around ;
  border-bottom: 2px solid rgb(99, 99, 235);
}

.Choice-actions>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

